body {
	background: linear-gradient(#d4bea7, #f0e5da);
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Century Gothic;
	font-weight: bold;
}

.Container {
	background: white;
 	border: 13px double;
 	border-radius: 35px;
 	padding: 30px 40px;
 	box-shadow: 0 0 70px rgba(54, 6, 49, 500);
 	text-align: center;
 	max-width: 700px;
 	width: 100%;
 	color: rgb(77, 15, 2);
 	font-size: 18px;
}

.Container h1 {
	margin-top: -5px;
}
button {
	display: block;  
	margin: 20px auto 0; 
	padding: 10px 20px;
	font-size: 18px;
	font-weight: bold;
	border: 2px solid;
	background: rgb(54, 6, 49);
	color: white;
	border-radius: 8px;
	transition: background 0.18s ease;
	width: 200px;
	height: 50px;
}


button:hover {
	background: rgb(125, 14, 113);
}



h2 {
	color: #333;
	margin-bottom: 15px;
}

img {
	width: 100%;
	max-width: 300px;
	border-radius: 10px;
	margin-bottom: 20px;
}

#overlay {
	display: none;
	position: fixed;
	top: 0; 
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

#Alert {
	color: rgb(77, 15, 2);
	display: none;
	position: fixed;
	background: white;
	box-shadow: 0 0 100px rgba(156, 23, 61, 500);
	border-radius: 50px;
	z-index: 2;
	text-align: center;
	width: 	780px;
	height: 620px;
	font-family: Century Gothic;
	border: 18px double;
}

#Alert h2 {
	font-size: 40px;
	margin-bottom: 30px;
	color: rgb(77, 15, 2);
}

#Alert p {
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 20px;
	margin-top: -10px;
}